
.quiqqerci-project {
    clear: both;
}

.quiqqerci-build {
    float: left;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none !important;
    width: 300px;
}

.quiqqerci-build-icon {
    float: left;
    font-size: 50px !important;
    margin-right: 10px;
}

.quiqqerci-build-title {
    font-size: 20px;
}

.quiqqerci-build-description {
    font-size: 14px;
    line-height: 16px;
}