
.quiqqerci hr {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqerci-build,
.quiqqerci-build-readme {
    float: left;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none !important;
    width: 300px;
}

.quiqqerci-project,
.quiqqerci-project-data {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqerci-build-readme {
    width: 100%;
}

    .quiqqerci-build-readme pre {
        clear: both;
        float: left;
        height: 300px;
        width: 100%;
    }

.quiqqerci-build-icon {
    float: left;
    font-size: 50px !important;
    margin-right: 10px;
    text-align: center;
    width: 50px;
}

.quiqqerci-build-title {
    font-size: 20px;
}

.quiqqerci-build-description {
    font-size: 14px;
    line-height: 16px;
}